@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    background: linear-gradient(to bottom right, #f5f7fa, #c3cfe2) no-repeat;
    overflow: hidden;
    box-sizing: border-box;
}

h1 {
    color: #555;
}

.card-container {
    max-width: 400px;
}
